<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<reportTemplateFolder>#{languageFileFolder}/../Reports/Templates/YFKExcelTemplates/</reportTemplateFolder>
		<code128>Code 128</code128>
	</properties>
	<components>
		<component
			id="ReportMgr.service"
			service="com.Sconit.Service.Report.IReportMgr, com.Sconit.Service"
			type="com.Sconit.Service.Report.Impl.ReportMgr, com.Sconit.Service" >
			<parameters>
				<dicReportService>
					<dictionary keyType="System.String, mscorlib" valueType="System.String, mscorlib">
						<entry key="ASN.xls">RepASNMgr.service</entry>
						<entry key="BarCode.xls">RepBarCodeMgr.service</entry>
						<entry key="BarCodeA4.xls">RepBarCodeA4Mgr.service</entry>
						<entry key="BelowBrade.xls">RepBelowBradeMgr.service</entry>
						<entry key="Bill.xls">RepBillMgr.service</entry>
						<entry key="BillMarket.xls">RepBillMarketMgr.service</entry>
						<entry key="DeliveryNote.xls">RepDeliveryNoteMgr.service</entry>
						<entry key="InsideBarCodeA4.xls">RepInsideBarCodeA4Mgr.service</entry>
						<entry key="InsideBarCode.xls">RepInsideBarCodeMgr.service</entry>
						<entry key="InspectOrder.xls">RepInspectOrderMgr.service</entry>
						<entry key="PickList.xls">RepPickListMgr.service</entry>
						<entry key="Production.xls">RepProductionMgr.service</entry>
						<entry key="ReceiptNotes.xls">RepReceiptNoteMgr.service</entry>
						<entry key="Repack.xls">RepRepackMgr.service</entry>
						<entry key="RequisitionOrder.xls">RepRequisitionOrderMgr.service</entry>
						<entry key="RequisitionOrderContract.xls">RepRequisitionOrderContractMgr.service</entry>
						<entry key="UnqualifiedGoods.xls">RepUnqualifiedGoodsMgr.service</entry>
            <entry key="SHP.xls">RepSHPMgr.service</entry>
						<entry key="Stocktaking.xls">RepStocktakingMgr.service</entry>
            <entry key="WoReceipt.xls">RepWoReceiptMgr.service</entry>
						<!--entry key="RequisitionOrderInternal.xls">#{RepRequisitionOrderInternalMgr.service}</entry-->
					</dictionary>
				</dicReportService>
			</parameters>
		</component>

		<component
		id="RepStocktakingMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepStocktakingMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepStocktakingMgr, com.Sconit.ServiceExt"  lifestyle="transient" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>
		
		<component
		id="RepBillMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepBillMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepBillMgr, com.Sconit.ServiceExt"  lifestyle="transient" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepBillMarketMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepBillMarketMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepBillMarketMgr, com.Sconit.ServiceExt" lifestyle="transient" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepInspectOrderMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepInspectOrderMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepInspectOrderMgr, com.Sconit.ServiceExt" lifestyle="transient" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepRequisitionOrderContractMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderContractMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderContractMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepBelowBradeMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepBelowBradeMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepBelowBradeMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
			id="RepRepackMgr.service"
			service="com.Sconit.Service.Report.Yfk.Impl.RepRepackMgr, com.Sconit.ServiceExt"
			type="com.Sconit.Service.Report.Yfk.Impl.RepRepackMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepPickListMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepPickListMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepPickListMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepDeliveryNoteMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepDeliveryNoteMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepDeliveryNoteMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepASNMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepASNMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepASNMgr, com.Sconit.ServiceExt" lifestyle="transient" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepBarCodeMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepBarCodeMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepBarCodeMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepBarCodeA4Mgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepBarCodeA4Mgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepBarCodeA4Mgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepInsideBarCodeA4Mgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepInsideBarCodeA4Mgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepInsideBarCodeA4Mgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		  id="RepInsideBarCodeMgr.service"
		  service="com.Sconit.Service.Report.Yfk.Impl.RepInsideBarCodeMgr, com.Sconit.ServiceExt"
		  type="com.Sconit.Service.Report.Yfk.Impl.RepInsideBarCodeMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepReceiptNoteMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepReceiptNoteMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepReceiptNoteMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepProductionMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepProductionMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepProductionMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepRequisitionOrderInternalMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderInternalMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderInternalMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

		<component
		id="RepRequisitionOrderMgr.service"
		service="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderMgr, com.Sconit.ServiceExt"
		type="com.Sconit.Service.Report.Yfk.Impl.RepRequisitionOrderMgr, com.Sconit.ServiceExt" lifestyle="transient">
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
			</parameters>
		</component>

    <component
    id="RepUnqualifiedGoodsMgr.service"
    service="com.Sconit.Service.Report.Yfk.Impl.RepUnqualifiedGoodsMgr, com.Sconit.ServiceExt"
    type="com.Sconit.Service.Report.Yfk.Impl.RepUnqualifiedGoodsMgr, com.Sconit.ServiceExt" lifestyle="transient">
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
    id="RepWoReceiptMgr.service"
    service="com.Sconit.Service.Report.Yfk.Impl.RepWoReceiptMgr, com.Sconit.ServiceExt"
    type="com.Sconit.Service.Report.Yfk.Impl.RepWoReceiptMgr, com.Sconit.ServiceExt"  lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
    id="RepSHPMgr.service"
    service="com.Sconit.Service.Report.Yfk.Impl.RepSHPMgr, com.Sconit.ServiceExt"
    type="com.Sconit.Service.Report.Yfk.Impl.RepSHPMgr, com.Sconit.ServiceExt"  lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
    
	</components>
</configuration>