<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--<languageFileFolder>C:\\Sconit\\Languages</languageFileFolder>-->
    <!--<languageFileFolder>C:\\Sconittest\\Languages</languageFileFolder>-->
    <languageFileFolder>G:\\Project\\百利得\\SCMS\\WebApplication\\Sconit\\Languages</languageFileFolder>
    <connectionString>
      <!--Server=192.168.210.120\scms;Database=scms;uid=sa;pwd=temp100;-->
      <!--Server=192.168.210.120\scms;Database=scms_test;uid=sa;pwd=temp100;-->
      <!--Server=10.20.96.67;Database=scms;uid=yfk;pwd=sconit;-->
        <!--Server=192.168.210.120,53041\scms;Database=scms;uid=sa;pwd=temp100;-->
        <!--Server=192.168.210.120\scms;Database=scms_archive;uid=sa;pwd=temp100;-->
      Server=localhost;Database=SCMS;uid=sa;pwd=sa;
      <!--Server=YFGM-T9677\SQLEXPRESS;Database=Sconit;uid=sconittest;pwd=sconittest;-->
    </connectionString>
    <oracleConnectionString>
      <!--User ID=system;Password=Sconit1234;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.96.67)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=scms_mes)));;-->
      <!--正式库-->
      User ID=YFFTPC;Password=YFKSS;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.215.217)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=FTPC)));;
      <!--User ID=yfprod;Password=YFKSS;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.215.203)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=yfprodtest)));;-->

    </oracleConnectionString>
    <defaultFileEncoding>
      GBK
    </defaultFileEncoding>
  </properties>
</configuration>
