<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <properties>
        <!--<languageFileFolder>C:\\Sconit_web\\Languages</languageFileFolder>-->
        <languageFileFolder>G:\\Project\\yfkey-scms\\WebApplication\\Sconit\\Languages</languageFileFolder>
        <!--<languageFileFolder>C:\\Sconittest\\Languages</languageFileFolder>-->
        <!--<languageFileFolder>D:\\☆文件☆\\IT\\源代码rar\\yfk_source\\WebApplication\\Sconit\\Languages</languageFileFolder>-->
        <connectionString>
            <!--Server=localhost;Database=SCMS;uid=sa;pwd=sa;-->
            Server=192.168.210.190,54999\sql2005;Database=scms_demo;uid=sa;pwd=temp100;
            <!--Server=192.168.210.120\scms;Database=scms;uid=sa;pwd=temp100;-->
          <!--Server=192.168.214.136;Database=SCMS;uid=sa;pwd=sa;-->
        </connectionString>
        <archConnectionString>
            <!--Server=localhost;Database=SCMS;uid=sa;pwd=sa;-->
            Server=192.168.210.190,54999\sql2005;Database=scms_demo;uid=sa;pwd=temp100;
            <!--Server=192.168.210.120\scms;Database=scms_archive2;uid=sa;pwd=temp100;-->
            <!--Server=192.168.210.190,54999\sql2005;Database=scms_test;uid=sa;pwd=temp100;-->
        </archConnectionString>
        <oracleConnectionString>
            <!--User ID=system;Password=Sconit1234;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.96.67)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=scms_mes)));;-->
            <!--正式库-->
            User ID=YFFTPC;Password=YFKSS;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.215.217)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=FTPC)));;
            <!--User ID=yfprod;Password=YFKSS;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.215.203)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=yfprodtest)));;-->

        </oracleConnectionString>
        <defaultFileEncoding>
            GBK
        </defaultFileEncoding>
    </properties>
</configuration>
