<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <components>
    <component
         id="sqlhelper.data.access"
         service="com.Sconit.Persistence.ISqlHelperDao, com.Sconit.Persistence"
         type="com.Sconit.Persistence.SqlHelperDao, com.Sconit.Persistence" >
      <parameters>
        <ConnectionString>#{connectionString}</ConnectionString>
      </parameters>
    </component>
    <component id="archDao"
          service="com.Sconit.Persistence.IArchNHDao, com.Sconit.Persistence"
          type="com.Sconit.Persistence.ArchNHDaoBase, com.Sconit.Persistence" >
      <parameters>
        <sessionFactoryAlias>arch</sessionFactoryAlias>
      </parameters>
    </component>
  </components>
</configuration>
