<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <component
    id="CriteriaMgr.service"
    service="com.Sconit.Service.Criteria.ICriteriaMgr, com.Sconit.Service"
    type="com.Sconit.Service.Criteria.Impl.CriteriaMgr, com.Sconit.Service" />

    <!-- master data -->
    <component
    id="UserMgr.service"
    service="com.Sconit.Service.MasterData.IUserMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UserMgr, com.Sconit.Service"/>

    <component
    id="UserRoleMgr.service"
    service="com.Sconit.Service.MasterData.IUserRoleMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UserRoleMgr, com.Sconit.Service"/>

    <component
    id="FileUploadMgr.service"
    service="com.Sconit.Service.MasterData.IFileUploadMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.FileUploadMgr, com.Sconit.Service" />

    <component
    id="PermissionMgr.service"
    service="com.Sconit.Service.MasterData.IPermissionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PermissionMgr, com.Sconit.Service" />

    <component
    id="CodeMasterMgr.service"
    service="com.Sconit.Service.MasterData.ICodeMasterMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CodeMasterMgr, com.Sconit.Service" />

    <component
    id="FavoritesMgr.service"
    service="com.Sconit.Service.MasterData.IFavoritesMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.FavoritesMgr, com.Sconit.Service"/>

    <component
    id="EntityPreferenceMgr.service"
    service="com.Sconit.Service.MasterData.IEntityPreferenceMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.EntityPreferenceMgr, com.Sconit.Service" />

    <component
    id="UserPreferenceMgr.service"
    service="com.Sconit.Service.MasterData.IUserPreferenceMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UserPreferenceMgr, com.Sconit.Service" />

    <component
    id="LanguageMgr.service"
    service="com.Sconit.Service.MasterData.ILanguageMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.LanguageMgr, com.Sconit.Service" >
      <parameters>
        <languageFileFolder>#{languageFileFolder}</languageFileFolder>
      </parameters>
    </component>

	  <component
      id="RegionMgr.service"
      service="com.Sconit.Service.MasterData.IRegionMgr, com.Sconit.Service"
      type="com.Sconit.Service.MasterData.Impl.RegionMgr, com.Sconit.Service" />

    <component
    id="SupplierMgr.service"
    service="com.Sconit.Service.MasterData.ISupplierMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.SupplierMgr, com.Sconit.Service" />

    <component
    id="CustomerMgr.service"
    service="com.Sconit.Service.MasterData.ICustomerMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CustomerMgr, com.Sconit.Service" />

    <component
    id="WorkCenterMgr.service"
    service="com.Sconit.Service.MasterData.IWorkCenterMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.WorkCenterMgr, com.Sconit.Service" />

    <component
    id="RoleMgr.service"
    service="com.Sconit.Service.MasterData.IRoleMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RoleMgr, com.Sconit.Service" />

    <component
    id="WorkdayMgr.service"
    service="com.Sconit.Service.MasterData.IWorkdayMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.WorkdayMgr, com.Sconit.Service" />

    <component
    id="ShiftMgr.service"
    service="com.Sconit.Service.MasterData.IShiftMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ShiftMgr, com.Sconit.Service" />

    <component
    id="ShiftDetailMgr.service"
    service="com.Sconit.Service.MasterData.IShiftDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ShiftDetailMgr, com.Sconit.Service" />

    <component
    id="SpecialTimeMgr.service"
    service="com.Sconit.Service.MasterData.ISpecialTimeMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.SpecialTimeMgr, com.Sconit.Service" />

    <component
    id="WorkCalendarMgr.service"
    service="com.Sconit.Service.MasterData.IWorkCalendarMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.WorkCalendarMgr, com.Sconit.Service" />

    <component
    id="PartyMgr.service"
    service="com.Sconit.Service.MasterData.IPartyMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PartyMgr, com.Sconit.Service" />

    <component
    id="BomMgr.service"
    service="com.Sconit.Service.MasterData.IBomMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BomMgr, com.Sconit.Service" />

    <component
    id="BomDetailMgr.service"
    service="com.Sconit.Service.MasterData.IBomDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BomDetailMgr, com.Sconit.Service" />

    <component
    id="LocationMgr.service"
    service="com.Sconit.Service.MasterData.ILocationMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.LocationMgr, com.Sconit.Service" />

    <component
    id="LocationTransactionMgr.service"
    service="com.Sconit.Service.MasterData.ILocationTransactionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.LocationTransactionMgr, com.Sconit.Service" />

    <component
    id="UserPermissionMgr.service"
    service="com.Sconit.Service.MasterData.IUserPermissionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UserPermissionMgr, com.Sconit.Service"/>

    <component
    id="ItemMgr.service"
    service="com.Sconit.Service.MasterData.IItemMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ItemMgr, com.Sconit.Service" />

    <component
    id="ItemReferenceMgr.service"
    service="com.Sconit.Service.MasterData.IItemReferenceMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ItemReferenceMgr, com.Sconit.Service" />

    <component
    id="ItemKitMgr.service"
    service="com.Sconit.Service.MasterData.IItemKitMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ItemKitMgr, com.Sconit.Service" />

    <component
    id="UomMgr.service"
    service="com.Sconit.Service.MasterData.IUomMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UomMgr, com.Sconit.Service" />

    <component
    id="UomConversionMgr.service"
    service="com.Sconit.Service.MasterData.IUomConversionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.UomConversionMgr, com.Sconit.Service" />

    <component
    id="RoutingMgr.service"
    service="com.Sconit.Service.MasterData.IRoutingMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RoutingMgr, com.Sconit.Service" />

    <component
    id="RoutingDetailMgr.service"
    service="com.Sconit.Service.MasterData.IRoutingDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RoutingDetailMgr, com.Sconit.Service" />

    <component
    id="RolePermissionMgr.service"
    service="com.Sconit.Service.MasterData.IRolePermissionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RolePermissionMgr, com.Sconit.Service"/>

    <component
    id="PermissionCategoryMgr.service"
    service="com.Sconit.Service.MasterData.IPermissionCategoryMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PermissionCategoryMgr, com.Sconit.Service"/>

    <component
    id="AddressMgr.service"
    service="com.Sconit.Service.MasterData.IAddressMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.AddressMgr, com.Sconit.Service"/>

    <component
    id="BillAddressMgr.service"
    service="com.Sconit.Service.MasterData.IBillAddressMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BillAddressMgr, com.Sconit.Service"/>

    <component
    id="ShipAddressMgr.service"
    service="com.Sconit.Service.MasterData.IShipAddressMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ShipAddressMgr, com.Sconit.Service"/>

    <component
    id="FlowMgr.service"
    service="com.Sconit.Service.MasterData.IFlowMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.FlowMgr, com.Sconit.Service"/>

    <component
    id="FlowDetailMgr.service"
    service="com.Sconit.Service.MasterData.IFlowDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.FlowDetailMgr, com.Sconit.Service"/>

    <component
    id="FlowBindingMgr.service"
    service="com.Sconit.Service.MasterData.IFlowBindingMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.FlowBindingMgr, com.Sconit.Service"/>

    <component
    id="OrderMgr.service"
    service="com.Sconit.Service.MasterData.IOrderMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderMgr, com.Sconit.Service"/>

    <component
    id="OrderHeadMgr.service"
    service="com.Sconit.Service.MasterData.IOrderHeadMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderHeadMgr, com.Sconit.Service"/>

    <component
    id="OrderDetailMgr.service"
    service="com.Sconit.Service.MasterData.IOrderDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderDetailMgr, com.Sconit.Service"/>

    <component
    id="OrderLocationTransactionMgr.service"
    service="com.Sconit.Service.MasterData.IOrderLocationTransactionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderLocationTransactionMgr, com.Sconit.Service"/>

    <component
    id="OrderPlannedBackflushMgr.service"
    service="com.Sconit.Service.MasterData.IOrderPlannedBackflushMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderPlannedBackflushMgr, com.Sconit.Service"/>

    <component
    id="OrderOperationMgr.service"
    service="com.Sconit.Service.MasterData.IOrderOperationMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderOperationMgr, com.Sconit.Service"/>

    <component
    id="OrderBindingMgr.service"
    service="com.Sconit.Service.MasterData.IOrderBindingMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.OrderBindingMgr, com.Sconit.Service"/>

    <component
    id="PriceListDetailMgr.service"
    service="com.Sconit.Service.MasterData.IPriceListDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PriceListDetailMgr, com.Sconit.Service"/>

    <component
    id="NumberControlMgr.service"
    service="com.Sconit.Service.MasterData.INumberControlMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.NumberControlMgr, com.Sconit.Service"/>

    <component
    id="WorkdayShiftMgr.service"
    service="com.Sconit.Service.MasterData.IWorkdayShiftMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.WorkdayShiftMgr, com.Sconit.Service"/>

    <component
    id="CurrencyMgr.service"
    service="com.Sconit.Service.MasterData.ICurrencyMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CurrencyMgr, com.Sconit.Service"/>

    <component
    id="PriceListMgr.service"
    service="com.Sconit.Service.MasterData.IPriceListMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PriceListMgr, com.Sconit.Service"/>

    <component
    id="LocationDetailMgr.service"
    service="com.Sconit.Service.MasterData.ILocationDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.LocationDetailMgr, com.Sconit.Service"/>

    <component
    id="LocationLotDetailMgr.service"
    service="com.Sconit.Service.MasterData.ILocationLotDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.LocationLotDetailMgr, com.Sconit.Service"/>

    <component
    id="ReceiptMgr.service"
    service="com.Sconit.Service.MasterData.IReceiptMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ReceiptMgr, com.Sconit.Service"/>

    <component
    id="ReceiptDetailMgr.service"
    service="com.Sconit.Service.MasterData.IReceiptDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ReceiptDetailMgr, com.Sconit.Service"/>

    <component
    id="ReceiptInProcessLocationMgr.service"
    service="com.Sconit.Service.MasterData.IReceiptInProcessLocationMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ReceiptInProcessLocationMgr, com.Sconit.Service"/>

    <component
    id="NamedQueryMgr.service"
    service="com.Sconit.Service.MasterData.INamedQueryMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.NamedQueryMgr, com.Sconit.Service"/>

    <component
    id="HuMgr.service"
    service="com.Sconit.Service.MasterData.IHuMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.HuMgr, com.Sconit.Service"/>

    <component
    id="HuOddMgr.service"
    service="com.Sconit.Service.MasterData.IHuOddMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.HuOddMgr, com.Sconit.Service"/>

    <component
    id="MiscOrderMgr.service"
    service="com.Sconit.Service.MasterData.IMiscOrderMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.MiscOrderMgr, com.Sconit.Service"/>
    <component
    id="MiscOrderDetailMgr.service"
    service="com.Sconit.Service.MasterData.IMiscOrderDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.MiscOrderDetailMgr, com.Sconit.Service"/>

    <component
    id="CycleCountMgr.service"
    service="com.Sconit.Service.MasterData.ICycleCountMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CycleCountMgr, com.Sconit.Service"/>

    <component
    id="CycleCountDetailMgr.service"
    service="com.Sconit.Service.MasterData.ICycleCountDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CycleCountDetailMgr, com.Sconit.Service"/>

    <component
    id="CycleCountResultMgr.service"
    service="com.Sconit.Service.MasterData.ICycleCountResultMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.CycleCountResultMgr, com.Sconit.Service"/>

    <component
    id="PlannedBillMgr.service"
    service="com.Sconit.Service.MasterData.IPlannedBillMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PlannedBillMgr, com.Sconit.Service"/>

    <component
    id="BillTransactionMgr.service"
    service="com.Sconit.Service.MasterData.IBillTransactionMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BillTransactionMgr, com.Sconit.Service"/>

    <component
    id="InspectOrderMgr.service"
    service="com.Sconit.Service.MasterData.IInspectOrderMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.InspectOrderMgr, com.Sconit.Service"/>

    <component
    id="InspectOrderDetailMgr.service"
    service="com.Sconit.Service.MasterData.IInspectOrderDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.InspectOrderDetailMgr, com.Sconit.Service"/>

    <!-- procurement -->
    <component
    id="PurchasePriceListMgr.service"
    service="com.Sconit.Service.Procurement.IPurchasePriceListMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.PurchasePriceListMgr, com.Sconit.Service"/>

    <component
    id="LeanEngineMgr.service"
    service="com.Sconit.Service.Procurement.ILeanEngineMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.LeanEngineMgr, com.Sconit.Service"/>

    <component
    id="SupplyChainMgr.service"
    service="com.Sconit.Service.Procurement.ISupplyChainMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.SupplyChainMgr, com.Sconit.Service"/>

    <component
    id="AutoOrderTrackMgr.service"
    service="com.Sconit.Service.Procurement.IAutoOrderTrackMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.AutoOrderTrackMgr, com.Sconit.Service"/>

    <component
    id="ItemFlowPlanMgr.service"
    service="com.Sconit.Service.Procurement.IItemFlowPlanMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.ItemFlowPlanMgr, com.Sconit.Service"/>

    <component
    id="ItemFlowPlanDetailMgr.service"
    service="com.Sconit.Service.Procurement.IItemFlowPlanDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.ItemFlowPlanDetailMgr, com.Sconit.Service"/>

    <component
    id="ItemFlowPlanTrackMgr.service"
    service="com.Sconit.Service.Procurement.IItemFlowPlanTrackMgr, com.Sconit.Service"
    type="com.Sconit.Service.Procurement.Impl.ItemFlowPlanTrackMgr, com.Sconit.Service"/>

    <component
    id="ActingBillMgr.service"
    service="com.Sconit.Service.MasterData.IActingBillMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ActingBillMgr, com.Sconit.Service"/>

    <component
    id="BillMgr.service"
    service="com.Sconit.Service.MasterData.IBillMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BillMgr, com.Sconit.Service"/>

    <component
    id="BillDetailMgr.service"
    service="com.Sconit.Service.MasterData.IBillDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.BillDetailMgr, com.Sconit.Service"/>

    <component
    id="ShiftPlanScheduleMgr.service"
    service="com.Sconit.Service.MasterData.IShiftPlanScheduleMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ShiftPlanScheduleMgr, com.Sconit.Service"/>

    <!-- distribution -->
    <component
    id="SalesPriceListMgr.service"
    service="com.Sconit.Service.Distribution.ISalesPriceListMgr, com.Sconit.Service"
    type="com.Sconit.Service.Distribution.Impl.SalesPriceListMgr, com.Sconit.Service"/>

    <component
    id="InProcessLocationMgr.service"
    service="com.Sconit.Service.Distribution.IInProcessLocationMgr, com.Sconit.Service"
    type="com.Sconit.Service.Distribution.Impl.InProcessLocationMgr, com.Sconit.Service"/>

    <component
    id="InProcessLocationDetailMgr.service"
    service="com.Sconit.Service.Distribution.IInProcessLocationDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.Distribution.Impl.InProcessLocationDetailMgr, com.Sconit.Service"/>

    <component
    id="InProcessLocationTrackMgr.service"
    service="com.Sconit.Service.Distribution.IInProcessLocationTrackMgr, com.Sconit.Service"
    type="com.Sconit.Service.Distribution.Impl.InProcessLocationTrackMgr, com.Sconit.Service"/>

    <!-- Production -->
    <component
    id="MaterialFlushBackMgr.service"
    service="com.Sconit.Service.Production.IMaterialFlushBackMgr, com.Sconit.Service"
    type="com.Sconit.Service.Production.Impl.MaterialFlushBackMgr, com.Sconit.Service" />

    <component
    id="EmployeeMgr.service"
    service="com.Sconit.Service.MasterData.IEmployeeMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.EmployeeMgr, com.Sconit.Service"/>

    <component
    id="WorkingHoursMgr.service"
    service="com.Sconit.Service.MasterData.IWorkingHoursMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.WorkingHoursMgr, com.Sconit.Service"/>

    <component
    id="ClientMonitorMgr.service"
    service="com.Sconit.Service.MasterData.IClientMonitorMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientMonitorMgr, com.Sconit.Service"/>

    <component
    id="ClientLogMgr.service"
    service="com.Sconit.Service.MasterData.IClientLogMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientLogMgr, com.Sconit.Service"/>

    <component
    id="ClientOrderHeadMgr.service"
    service="com.Sconit.Service.MasterData.IClientOrderHeadMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientOrderHeadMgr, com.Sconit.Service"/>

    <component
    id="ClientOrderDetailMgr.service"
    service="com.Sconit.Service.MasterData.IClientOrderDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientOrderDetailMgr, com.Sconit.Service"/>

    <component
    id="ClientWorkingHoursMgr.service"
    service="com.Sconit.Service.MasterData.IClientWorkingHoursMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientWorkingHoursMgr, com.Sconit.Service"/>

    <component
    id="ClientMgr.service"
    service="com.Sconit.Service.MasterData.IClientMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ClientMgr, com.Sconit.Service"/>

    <component
    id="PickListMgr.service"
    service="com.Sconit.Service.MasterData.IPickListMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PickListMgr, com.Sconit.Service"/>

    <component
    id="PickListDetailMgr.service"
    service="com.Sconit.Service.MasterData.IPickListDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PickListDetailMgr, com.Sconit.Service"/>

    <component
    id="PickListResultMgr.service"
    service="com.Sconit.Service.MasterData.IPickListResultMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.PickListResultMgr, com.Sconit.Service"/>

    <component
    id="StorageBinMgr.service"
    service="com.Sconit.Service.MasterData.IStorageBinMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.StorageBinMgr, com.Sconit.Service"/>

    <component
    id="StorageAreaMgr.service"
    service="com.Sconit.Service.MasterData.IStorageAreaMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.StorageAreaMgr, com.Sconit.Service"/>

    <component
    id="ImportMgr.service"
    service="com.Sconit.Service.MasterData.IImportMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ImportMgr, com.Sconit.Service"/>

    <component
    id="RepackMgr.service"
    service="com.Sconit.Service.MasterData.IRepackMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RepackMgr, com.Sconit.Service"/>

    <component
    id="RepackDetailMgr.service"
    service="com.Sconit.Service.MasterData.IRepackDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.RepackDetailMgr, com.Sconit.Service"/>

    <component
    id="ScanBarcodeMgr.service"
    service="com.Sconit.Service.MasterData.IScanBarcodeMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ScanBarcodeMgr, com.Sconit.Service"/>

    <component
    id="ProductLineInProcessLocationDetailMgr.service"
    service="com.Sconit.Service.MasterData.IProductLineInProcessLocationDetailMgr, com.Sconit.Service"
    type="com.Sconit.Service.MasterData.Impl.ProductLineInProcessLocationDetailMgr, com.Sconit.Service"/>

    <!-- BatchJob -->
    <component
        id="BatchJobDetailMgr.service"
        service="com.Sconit.Service.Batch.IBatchJobDetailMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.BatchJobDetailMgr, com.Sconit.Service"/>

    <component
        id="BatchJobParameterMgr.service"
        service="com.Sconit.Service.Batch.IBatchJobParameterMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.BatchJobParameterMgr, com.Sconit.Service"/>

    <component
        id="BatchRunLogMgr.service"
        service="com.Sconit.Service.Batch.IBatchRunLogMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.BatchRunLogMgr, com.Sconit.Service"/>

    <component
        id="BatchTriggerMgr.service"
        service="com.Sconit.Service.Batch.IBatchTriggerMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.BatchTriggerMgr, com.Sconit.Service"/>

    <component
        id="BatchTriggerParameterMgr.service"
        service="com.Sconit.Service.Batch.IBatchTriggerParameterMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.BatchTriggerParameterMgr, com.Sconit.Service"/>    

    <component
        id="JobRunMgr.service"
        service="com.Sconit.Service.Batch.IJobRunMgr, com.Sconit.Service"
        type="com.Sconit.Service.Batch.Impl.JobRunMgr, com.Sconit.Service"/>

    <!-- Dss -->
    <component
        id="DssFtpControlMgr.Service"
        service="com.Sconit.Service.Dss.IDssFtpControlMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssFtpControlMgr, com.Sconit.Service"/>

    <component
        id="DssInboundControlMgr.Service"
        service="com.Sconit.Service.Dss.IDssInboundControlMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssInboundControlMgr, com.Sconit.Service"/>

    <component
        id="DssOutboundControlMgr.Service"
        service="com.Sconit.Service.Dss.IDssOutboundControlMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssOutboundControlMgr, com.Sconit.Service"/>

    <component
        id="DssExportHistoryMgr.Service"
        service="com.Sconit.Service.Dss.IDssExportHistoryMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssExportHistoryMgr, com.Sconit.Service"/>

    <component
        id="DssSystemMgr.Service"
        service="com.Sconit.Service.Dss.IDssSystemMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssSystemMgr, com.Sconit.Service"/>

    <component
        id="DssObjectMappingMgr.Service"
        service="com.Sconit.Service.Dss.IDssObjectMappingMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.DssObjectMappingMgr, com.Sconit.Service"/>

    <component
        id="CommonOutboundMgr.Service"
        service="com.Sconit.Service.Dss.ICommonOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.CommonOutboundMgr, com.Sconit.Service"/>

    <component
        id="ItemInboundMgr.Service"
        service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.ItemInboundMgr, com.Sconit.Service"/>

	<component
		id="CustomerInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.CustomerInboundMgr, com.Sconit.Service"/>
	
	<component
		id="SupplierInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.SupplierInboundMgr, com.Sconit.Service"/>
    
	<component
	  id="PriceListInboundMgr.Service"
	  service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
	  type="com.Sconit.Service.Dss.Impl.PriceListInboundMgr, com.Sconit.Service"/>
	
	<component
		id="BomInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.BomInboundMgr, com.Sconit.Service"/>
	
	<component
		id="BomDetailInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.BomDetailInboundMgr, com.Sconit.Service"/>
	
	<component
		id="CodeMasterInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.CodeMasterInboundMgr, com.Sconit.Service"/>
	
	<component
		id="UomConversionInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.UomConversionInboundMgr, com.Sconit.Service"/>
	
	<component
		id="WoReceiptInboundMgr.Service"
		service="com.Sconit.Service.Dss.IInboundMgr, com.Sconit.Service"
		type="com.Sconit.Service.Dss.Impl.WoReceiptInboundMgr, com.Sconit.Service"/>

    <component
        id="PoBillTransactionOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.PoBillTransactionOutboundMgr, com.Sconit.Service"/>

    <component
        id="RcttrOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.RcttrOutboundMgr, com.Sconit.Service"/>

    <component
        id="IsssoOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.IsssoOutboundMgr, com.Sconit.Service"/>

    <component
        id="SoBillOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.SoBillOutboundMgr, com.Sconit.Service"/>

    <component
        id="SoBill1OutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.SoBill1OutboundMgr, com.Sconit.Service"/>

    <component
        id="RctwoOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.RctwoOutboundMgr, com.Sconit.Service"/>

    <component
        id="PoBillOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.PoBillOutboundMgr, com.Sconit.Service"/>

    <component
        id="IssunpOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.IssunpOutboundMgr, com.Sconit.Service"/>

    <component
        id="RctunpOutboundMgr.Service"
        service="com.Sconit.Service.Dss.IOutboundMgr, com.Sconit.Service"
        type="com.Sconit.Service.Dss.Impl.RctunpOutboundMgr, com.Sconit.Service"/>
        
    <!-- View -->
    <component
        id="OrderDetailViewMgr.service"
        service="com.Sconit.Service.View.IOrderDetailViewMgr, com.Sconit.Service"
        type="com.Sconit.Service.View.Impl.OrderDetailViewMgr, com.Sconit.Service"/>
        
    <component
        id="OrderLocTransViewMgr.service"
        service="com.Sconit.Service.View.IOrderLocTransViewMgr, com.Sconit.Service"
        type="com.Sconit.Service.View.Impl.OrderLocTransViewMgr, com.Sconit.Service"/>

    <component
        id="PlannedBillViewMgr.service"
        service="com.Sconit.Service.View.IPlannedBillViewMgr, com.Sconit.Service"
        type="com.Sconit.Service.View.Impl.PlannedBillViewMgr, com.Sconit.Service"/>

    <component
        id="BillAgingViewMgr.service"
        service="com.Sconit.Service.View.IBillAgingViewMgr, com.Sconit.Service"
        type="com.Sconit.Service.View.Impl.BillAgingViewMgr, com.Sconit.Service"/>

    <component
     id="SupllierLocationViewMgr.service"
     service="com.Sconit.Service.View.ISupllierLocationViewMgr, com.Sconit.Service"
     type="com.Sconit.Service.View.Impl.SupllierLocationViewMgr, com.Sconit.Service"/>

    <component
     id="SubjectListMgr.service"
     service="com.Sconit.Service.MasterData.ISubjectListMgr, com.Sconit.Service"
     type="com.Sconit.Service.MasterData.Impl.SubjectListMgr, com.Sconit.Service"/>

    <!--Jobs-->
    <component id="LeanEngineJob" type="com.Sconit.Service.Batch.Job.LeanEngineJob, com.Sconit.Service"/>
    <component id="OrderCloseJob" type="com.Sconit.Service.Batch.Job.OrderCloseJob, com.Sconit.Service"/>
    <component id="OrderCompleteJob" type="com.Sconit.Service.Batch.Job.OrderCompleteJob, com.Sconit.Service"/>
    <component id="DssInboundJob" type="com.Sconit.Service.Batch.Job.DssInboundJob, com.Sconit.Service">
      <parameters>
        <defaultFileEncoding>#{defaultFileEncoding}</defaultFileEncoding>
      </parameters>
    </component>
    <component id="DssOutboundJob" type="com.Sconit.Service.Batch.Job.DssOutboundJob, com.Sconit.Service">
      <parameters>
        <defaultFileEncoding>#{defaultFileEncoding}</defaultFileEncoding>
      </parameters>
    </component>
    <component id="WOReceiptInboundJob" type="com.Sconit.Service.Batch.Job.WOReceiptInboundJob, com.Sconit.Service"/>
    <component id="WOBackflushJob" type="com.Sconit.Service.Batch.Job.WOBackflushJob, com.Sconit.Service"/>
    <component id="PickListCreateJob" type="com.Sconit.Service.Batch.Job.PickListCreateJob, com.Sconit.Service"/>
    <component id="CycleCountProcessJob" type="com.Sconit.Service.Batch.Job.CycleCountProcessJob, com.Sconit.Service"/>
    
    <!--Business-->
    <component
        id="ResolverMgr.service"
        service="com.Sconit.Service.Business.IResolverMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.ResolverMgr, com.Sconit.Service">
      <parameters>
        <shipMgr>${ShipMgr.service}</shipMgr>
        <receiveMgr>${ReceiveMgr.service}</receiveMgr>
        <pickupMgr>${PickupMgr.service}</pickupMgr>
        <putAwayMgr>${PutAwayMgr.service}</putAwayMgr>
        <onlineMgr>${OnlineMgr.service}</onlineMgr>
        <offlineMgr>${OfflineMgr.service}</offlineMgr>
        <inspectMgr>${InspectMgr.service}</inspectMgr>
        <transferMgr>${TransferMgr.service}</transferMgr>
        <pickMgr>${PickMgr.service}</pickMgr>
        <repackageMgr>${RepackageMgr.service}</repackageMgr>
        <returnMgr>${ReturnMgr.service}</returnMgr>
        <materialInMgr>${MaterialInMgr.service}</materialInMgr>
        <flushBackMgr>${FlushBackMgr.service}</flushBackMgr>
        <inspectionMgr>${InspectionMgr.service}</inspectionMgr>
        <devanningMgr>${DevanningMgr.service}</devanningMgr>
        <stockTakingMgr>${StockTakingMgr.service}</stockTakingMgr>
        <pickListOnlineMgr>${PickListOnlineMgr.service}</pickListOnlineMgr>
        <reuseMgr>${ReuseMgr.service}</reuseMgr>
      </parameters>
    </component>
        
    <component
        id="ShipMgr.service"
        service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.ShipMgr, com.Sconit.Service"/>
        
    <component
        id="ReceiveMgr.service"
        service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.ReceiveMgr, com.Sconit.Service"/>

      <component
          id="PickupMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.PickupMgr, com.Sconit.Service"/>

      <component
          id="PutAwayMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.PutAwayMgr, com.Sconit.Service"/>

      <component
          id="OnlineMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.OnlineMgr, com.Sconit.Service"/>

      <component
          id="OfflineMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.OfflineMgr, com.Sconit.Service"/>

      <component
          id="InspectMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.InspectMgr, com.Sconit.Service"/>

      <component
          id="TransferMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.TransferMgr, com.Sconit.Service"/>

      <component
          id="PickMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.PickMgr, com.Sconit.Service"/>

      <component
          id="RepackageMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.RepackageMgr, com.Sconit.Service"/>

      <component
          id="ReturnMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.ReturnMgr, com.Sconit.Service"/>

      <component
          id="MaterialInMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.MaterialInMgr, com.Sconit.Service"/>

      <component
          id="FlushBackMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.FlushBackMgr, com.Sconit.Service"/>

      <component
          id="InspectionMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.InspectionMgr, com.Sconit.Service"/>

      <component
          id="DevanningMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.DevanningMgr, com.Sconit.Service"/>

      <component
          id="StockTakingMgr.service"
          service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
          type="com.Sconit.Service.Business.Impl.StockTakingMgr, com.Sconit.Service"/>
        
    <component
        id="SetBaseMgr.service"
        service="com.Sconit.Service.Business.ISetBaseMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.SetBaseMgr, com.Sconit.Service"/>
        
    <component
        id="SetDetailMgr.service"
        service="com.Sconit.Service.Business.ISetDetailMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.SetDetailMgr, com.Sconit.Service"/>
        
    <component
        id="ExecuteMgr.service"
        service="com.Sconit.Service.Business.IExecuteMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.ExecuteMgr, com.Sconit.Service"/>
        
    <component
        id="PickListOnlineMgr.service"
        service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.PickListOnlineMgr, com.Sconit.Service"/>

    <component
        id="ReuseMgr.service"
        service="com.Sconit.Service.Business.IBusinessMgr, com.Sconit.Service"
        type="com.Sconit.Service.Business.Impl.ReuseMgr, com.Sconit.Service"/>
  </components>
</configuration>
