<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatchJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <castle>
    <include uri="file://Config//properties.config" />
    <include uri="file://Config//common-facilities.config" />
    <include uri="file://Config//data-access-nh.config" />
    <include uri="file://Config//data-access-sq.config" />
    <include uri="file://Config//common-services.config" />
    <include uri="file://Config//mes.config" />
  </castle>
  <log4net debug="false">
    <appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="d:\logs\windowsservice\nhibernate.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="MesDssInLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\windowsservice\MesDssInLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="MesDssOutLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\windowsservice\MesDssOutLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="BatchJobFileLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\BatchJob.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="WoReceiptInboundLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\WoReceiptInboundJob.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="DssInboundLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\DssInboundLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="DssOutboundFileLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\DssOutbound.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="MesLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\Mes.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="FtpLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\FtpLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="LeanEngineLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\logs\windowsservice\LeanEngineLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="ReceiptLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\logs\windowsservice\ReceiptLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="NHibernateFileLog" />
    </logger>
    <logger name="Log.BatchJob">
      <level value="DEBUG" />
      <appender-ref ref="BatchJobFileLog" />
    </logger>
    <logger name="Log.WoReceiptInbound">
      <level value="DEBUG" />
      <appender-ref ref="WoReceiptInboundLog" />
    </logger>
    <logger name="Log.DssInbound">
      <level value="DEBUG" />
      <appender-ref ref="DssInboundLog" />
    </logger>
    <logger name="Log.DssOutbound">
      <level value="DEBUG" />
      <appender-ref ref="DssOutboundFileLog" />
    </logger>
    <logger name="Log.Ftp">
      <level value="DEBUG" />
      <appender-ref ref="FtpLog" />
    </logger>
    <logger name="Log.LeanEngine">
      <level value="DEBUG" />
      <appender-ref ref="LeanEngineLog" />
    </logger>
    <logger name="Log.Receipt">
      <level value="DEBUG" />
      <appender-ref ref="ReceiptLog" />
    </logger>
    <logger name="Log.MesDssIn">
      <level value="Debug" />
      <appender-ref ref="MesDssInLog" />
    </logger>
    <logger name="Log.MesDssOut">
      <level value="Debug" />
      <appender-ref ref="MesDssOutLog" />
    </logger>
    <logger name="Log.Mes">
      <level value="Debug" />
      <appender-ref ref="MesLog" />
    </logger>
  </log4net>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <BatchJob.Properties.Settings>
      <setting name="IntervalValue" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IntervalType" serializeAs="String">
        <value>Minutes</value>
      </setting>
      <setting name="RunAtServiceStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InterruptTimer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServiceDisplayName" serializeAs="String">
        <value>Sconit Batch Jobs</value>
      </setting>
      <setting name="ServiceDisplayDescription" serializeAs="String">
        <value>Run Sconit Batch Jobs Every 10 Minutes</value>
      </setting>
    </BatchJob.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>