<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<reportTemplateFolder>#{languageFileFolder}/../Reports/Templates/YFGMExcelTemplates/</reportTemplateFolder>
		<code128>Code 128</code128>
	</properties>
	<components>
		<component
			id="ReportMgr.service"
			service="com.Sconit.Service.Report.IReportMgr, com.Sconit.Service"
			type="com.Sconit.Service.Report.Impl.ReportMgr, com.Sconit.Service" >
			<parameters>
				<dicReportService>
					<dictionary keyType="System.String, mscorlib" valueType="System.String, mscorlib">
						<entry key="Production.xls">RepProductionMgr.service</entry>
						<entry key="BarCode.xls">RepBarCodeMgr.service</entry>
						<entry key="PickList.xls">RepPickListMgr.service</entry>
						<entry key="RequisitionOrder.xls">RepRequisitionOrderMgr.service</entry>
					</dictionary>
				</dicReportService>
			</parameters>
		</component>

		<component
		id="RepProductionMgr.service"
		service="com.Sconit.Service.Report.Yfgm.Impl.RepProductionMgr, com.Sconit.Service"
		type="com.Sconit.Service.Report.Yfgm.Impl.RepProductionMgr, com.Sconit.Service" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
				<barCodeFontName>#{code128}</barCodeFontName>
				<barCodeFontSize>34</barCodeFontSize>
			</parameters>
		</component>

		<component
		id="RepBarCodeMgr.service"
		service="com.Sconit.Service.Report.Yfgm.Impl.RepBarCodeMgr, com.Sconit.Service"
		type="com.Sconit.Service.Report.Yfgm.Impl.RepBarCodeMgr, com.Sconit.Service" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
				<barCodeFontName>#{code128}</barCodeFontName>
				<barCodeFontSize>23</barCodeFontSize>
			</parameters>
		</component>

		<component
		id="RepRequisitionOrderMgr.service"
		service="com.Sconit.Service.Report.Yfgm.Impl.RepRequisitionOrderMgr, com.Sconit.Service"
		type="com.Sconit.Service.Report.Yfgm.Impl.RepRequisitionOrderMgr, com.Sconit.Service" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
				<barCodeFontName>#{code128}</barCodeFontName>
				<barCodeFontSize>34</barCodeFontSize>
			</parameters>
		</component>

		<component
		id="RepPickListMgr.service"
		service="com.Sconit.Service.Report.Yfgm.Impl.RepPickListMgr, com.Sconit.Service"
		type="com.Sconit.Service.Report.Yfgm.Impl.RepPickListMgr, com.Sconit.Service" >
			<parameters>
				<reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
				<barCodeFontName>#{code128}</barCodeFontName>
				<barCodeFontSize>34</barCodeFontSize>
			</parameters>
		</component>
	</components>

</configuration>