<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
    id="generic.oracle.data.access"
    service="com.Mes.Dss.Persistence.INHDao, com.Mes.Dss"
    type="com.Mes.Dss.Persistence.NHDaoBase, com.Mes.Dss" >
      <parameters>
        <sessionFactoryAlias>mes</sessionFactoryAlias>
      </parameters>
    </component>



    <component
        id="scmsPartDao.data.access"
        service="com.Mes.Dss.Persistence.IScmsPartDao, com.Mes.Dss"
        type="com.Mes.Dss.Persistence.NH.NHScmsPartDao, com.Mes.Dss"/>
    <component
       id="scmsMaterialBarcodeDao.data.access"
       service="com.Mes.Dss.Persistence.IScmsMaterialBarcodeDao, com.Mes.Dss"
       type="com.Mes.Dss.Persistence.NH.NHScmsMaterialBarcodeDao, com.Mes.Dss"/>
    <component
       id="scmsWorkOrderDao.data.access"
       service="com.Mes.Dss.Persistence.IScmsWorkOrderDao, com.Mes.Dss"
       type="com.Mes.Dss.Persistence.NH.NHScmsWorkOrderDao, com.Mes.Dss"/>
    <component
      id="scmsBomDao.data.access"
      service="com.Mes.Dss.Persistence.IScmsBomDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHScmsBomDao, com.Mes.Dss"/>
    <component
        id="scmsTableIndexDao.data.access"
        service="com.Mes.Dss.Persistence.IScmsTableIndexDao, com.Mes.Dss"
        type="com.Mes.Dss.Persistence.NH.NHScmsTableIndexDao, com.Mes.Dss"/>
    <component
        id="mesScmsTableIndexDao.data.access"
        service="com.Mes.Dss.Persistence.IMesScmsTableIndexDao, com.Mes.Dss"
        type="com.Mes.Dss.Persistence.NH.NHMesScmsTableIndexDao, com.Mes.Dss"/>
    <component
         id="mesScmsStationShelfDao.data.access"
         service="com.Mes.Dss.Persistence.IMesScmsStationShelfDao, com.Mes.Dss"
         type="com.Mes.Dss.Persistence.NH.NHMesScmsStationShelfDao, com.Mes.Dss"/>
    <component
        id="mesScmsShelfPartDao.data.access"
        service="com.Mes.Dss.Persistence.IMesScmsShelfPartDao, com.Mes.Dss"
        type="com.Mes.Dss.Persistence.NH.NHMesScmsShelfPartDao, com.Mes.Dss"/>
    <component
      id="mesScmsCompletedOrderDao.data.access"
      service="com.Mes.Dss.Persistence.IMesScmsCompletedOrderDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHMesScmsCompletedOrderDao, com.Mes.Dss"/>
    <component
      id="mesScmsCompletedBoxDao.data.access"
      service="com.Mes.Dss.Persistence.IMesScmsCompletedBoxDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHMesScmsCompletedBoxDao, com.Mes.Dss"/>
    <component
      id="mesScmsStationBoxDao.data.access"
      service="com.Mes.Dss.Persistence.IMesScmsStationBoxDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHMesScmsStationBoxDao, com.Mes.Dss"/>
    <component
      id="mesScmsBomDao.data.access"
      service="com.Mes.Dss.Persistence.IMesScmsBomDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHMesScmsBomDao, com.Mes.Dss"/>
    <component
      id="mesScmsRepairMaterialDao.data.access"
      service="com.Mes.Dss.Persistence.IMesScmsRepairMaterialDao, com.Mes.Dss"
      type="com.Mes.Dss.Persistence.NH.NHMesScmsRepairMaterialDao, com.Mes.Dss"/>

    <component
      id="ScmsPartMgr.service"
      service="com.Mes.Dss.Service.IScmsPartMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.ScmsPartMgr, com.Mes.Dss"/>
    <component
      id="ScmsMaterialBarcodeMgr.service"
      service="com.Mes.Dss.Service.IScmsMaterialBarcodeMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.ScmsMaterialBarcodeMgr, com.Mes.Dss"/>
    <component
     id="ScmsWorkOrderMgr.service"
     service="com.Mes.Dss.Service.IScmsWorkOrderMgr, com.Mes.Dss"
     type="com.Mes.Dss.Service.Impl.ScmsWorkOrderMgr, com.Mes.Dss"/>
    <component
     id="ScmsBomMgr.service"
     service="com.Mes.Dss.Service.IScmsBomMgr, com.Mes.Dss"
     type="com.Mes.Dss.Service.Impl.ScmsBomMgr, com.Mes.Dss"/>
    <component
      id="MesScmsStationShelfMgr.service"
      service="com.Mes.Dss.Service.IMesScmsStationShelfMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsStationShelfMgr, com.Mes.Dss"/>
    <component
      id="ScmsTableIndexMgr.service"
      service="com.Mes.Dss.Service.IScmsTableIndexMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.ScmsTableIndexMgr, com.Mes.Dss"/>
    <component
      id="MesScmsTableIndexMgr.service"
      service="com.Mes.Dss.Service.IMesScmsTableIndexMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsTableIndexMgr, com.Mes.Dss"/>
    <component
      id="MesScmsShelfPartMgr.service"
      service="com.Mes.Dss.Service.IMesScmsShelfPartMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsShelfPartMgr, com.Mes.Dss"/>
    <component
      id="MesScmsCompletedOrderMgr.service"
      service="com.Mes.Dss.Service.IMesScmsCompletedOrderMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsCompletedOrderMgr, com.Mes.Dss"/>
    <component
      id="MesScmsStationBoxMgr.service"
      service="com.Mes.Dss.Service.IMesScmsStationBoxMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsStationBoxMgr, com.Mes.Dss"/>
    <component
      id="MesScmsBomMgr.service"
      service="com.Mes.Dss.Service.IMesScmsBomMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsBomMgr, com.Mes.Dss"/>
    <component
      id="MesScmsCompletedBoxMgr.service"
      service="com.Mes.Dss.Service.IMesScmsCompletedBoxMgr, com.Mes.Dss"
      type="com.Mes.Dss.Service.Impl.MesScmsCompletedBoxMgr, com.Mes.Dss"/>
    <component
     id="MesScmsRepairMaterialMgr.service"
     service="com.Mes.Dss.Service.IMesScmsRepairMaterialMgr, com.Mes.Dss"
     type="com.Mes.Dss.Service.Impl.MesScmsRepairMaterialMgr, com.Mes.Dss"/>
    <component
       id="MesDssInMgr.service"
       service="com.Mes.Dss.Service.IMesDssInMgr, com.Mes.Dss"
       type="com.Mes.Dss.Service.Impl.MesDssInMgr, com.Mes.Dss"/>
    <component
     id="MesDssOutMgr.service"
     service="com.Mes.Dss.Service.IMesDssOutMgr, com.Mes.Dss"
     type="com.Mes.Dss.Service.Impl.MesDssOutMgr, com.Mes.Dss"/>
  </components>
</configuration>
